{% extends 'bases/dash_base.html' %}
{% block content%}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content dasboard-content">
            <div class="container-fluid">
                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <h4 class="page-title">Dashboard</h4>
                            <ol class="breadcrumb">
                                <!-- <li class="breadcrumb-item"><a href="javascript:void(0);"><i class="mdi mdi-home-outline"></i></a></li> -->
                                <li class="breadcrumb-item active">Welcome to NaN Présence <li>
                            </ol>
                        </div>
                        <div class="col-sm-6">
                            <div class="float-right d-none d-md-block">
                                <div class="dropdown">

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end row -->
                </div>
                <!-- end page-title -->

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mini-stat bg-pattern">
                            <div class="card-body mini-stat-img">
                                <div class="mini-stat-icon">
                                    <i class="dripicons-broadcast bg-soft-primary text-primary float-right h4"></i>
                                </div>
                                <h6 class="text-uppercase mb-3 mt-0">Etudiant Groupe {{nom}}  </h6>
                                <h5 class="mb-3">{{nbr_etudiant}}</h5>
                                <p class="text-muted mb-0"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card mini-stat bg-pattern">
                            <div class="card-body mini-stat-img">
                                <div class="mini-stat-icon">
                                    <i class="dripicons-box bg-soft-primary text-primary float-right h4"></i>
                                </div>
                                <h6 class="text-uppercase mb-3 mt-0">Etudiant Présent  </h6>
                                <h5 class="mb-3">{{nbr_presant}} </h5>
                                <!-- <p class="text-muted mb-0"><span class="text-danger mr-2"> -26% <i class="mdi mdi-arrow-down"></i> </span> From previous period</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card mini-stat bg-pattern">
                            <div class="card-body mini-stat-img">
                                <div class="mini-stat-icon">
                                    <i class="dripicons-tags bg-soft-primary text-primary float-right h4"></i>
                                </div>
                                <h6 class="text-uppercase mb-3 mt-0">Etudiant Absent </h6>
                                <h5 class="mb-3">{{ nbr_abs }}</h5>
                                <!-- <p class="text-muted mb-0"><span class="text-danger mr-2"> -26% <i class="mdi mdi-arrow-down"></i> </span> From previous period</p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mt-0 header-title mb-4">Présence Par Jour Total Etudiant </h4>
                                
                                <div id="column-chart" dir="ltr"></div> 
                            </div>
                        </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
        
                                <h4 class="mt-0 header-title mb-4">Table de Presence</h4>
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>Date Du Jour</th>
                                            <th>Heure d'arrivée </th>
                                            <th>Heure depart </th>
                                            <th>Statut De Présence </th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                        <th>Nom</th>
                                        <th>Code Qr</th>
                                        <th>Heure d'arrivee </th>
                                        <th>Heure depart </th>
                                        <th>Presant </th>                     
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for lst in liste_presence %}
                                        <tr>
                                            <td> {{lst.etudiant}} </td>
                                            <td>{{lst.qrcode}} </td>
                                            <td>{{lst.heure_arrivee}} </td>
                                            <td>{{lst.heure_depart}} </td>
                                            <td>{{lst.status}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    </table>
                                </div>
                        </div>
                    </div> <!-- end col -->
                    <!-- end col -->

                </div>
                <!-- end row -->
                
            </div>
            <!-- container-fluid -->

        </div>
        <!-- content -->

        <footer class="footer">
            © 2020 NaN <span class="d-none d-sm-inline-block"> - Not A Number <i class="mdi mdi-heart text-danger"></i> by Devpython</span>.
        </footer>



    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->
    

{% endblock %}